body {
  width: 800px;
  height: 400px;
  font-family: Arial, Helvetica;
  background: url(./images/card/jpg) top left no-repeat;
  color: rgb(255, 255, 255);
}

.wrapper {
  position: relative;
  width: 800px;
  height: 400px;
  text-align: center;
}

.content-wrapper {
  position: absolute;
  width: 440px;
  height: 100%;
  margin-left: 30px;
}
.content {
  position: absolute;
  width: 100%;
  height: 365px;
}

.dear {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 50px;
  width: 100%;
  height: 55px;
  margin-top: 30px;
}

.city-state {
  font-family: 'Ropa Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 60px;
  width: 100%;
  height: 60px;
  margin-top: 65px;
}

.user-info {
  position: absolute;
  width: 330px;
  height: 100px;
  margin-top: 55px;
  margin-left: 110px;
}

.signature {
  text-align: left;
  width: 245px;
  height: 48px;
  margin-left: 95px;
  margin-top: 15px;
}

.signature-name {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 100%;
  height: 50%;
  margin-left: 2px;
}

.signature-city-state {
  font-family: "lato", sans-serif;
  font-weight: 700;
  font-size: 14.5px;
  color: rgb(191, 58, 43);
  width: 100%;
  height: 50%;
}

.avatar {
  position: absolute;
  width: 65px;
  height: 65px;
}

.avatar-wrapper {
  position: absolute;
  background: url(./images/avatar.png) center no-repeat;
  background-color: rgb(191, 58, 43);
  border: 2px solid rgb(255, 255, 255);
  width: 65px;
  height: 65px;
}

.avatar-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  left: 0;
}

.senator-image{
  position: absolute;
  width: 330px;
  height: 100%;
  right: 0;
}

.senator-image-wrapper {
  position: absolute;
  border: 2px solid rgb( 255, 255, 255 );
  overflow: hidden;
  width: 270px;
  height: 300px;
  margin: 28px 28px 35px 28px;
}